@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

:root{
    --primary-color:  #958f6c;
    --Secondary-color: #affc41;
    --Accent1-color: #34e4ea;
    --accent2-color: #fefae0;

    --heading-font: 'Rock Salt';
    --paragraph-font: Roboto;

    --nav-background-color: #affc41;
    --nav-link-color: #958f6c;
    --nav-hover-link-color: #34e4ea;
    --nav-hover-background-color: #ffffff;
}

body{
    font-family: var(--paragraph-font);
    /*text-align: center;*/
    /*margin: 0auto;*/
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6{
    font-family:var(--heading-font);
    color: var(--accent1-color);
}

header{
    padding:20px;
    background-color: var(--primary-color)
}
p{
    padding: 25px;
}

nav{
    background-color: var(--nav-background-color);
    display: flex;
    font-size: 1.2rem;
}
nav a{
    display: block;
    color: var(--nav-link-color);
    display: flex;
    padding: 1rem;
    text-decoration: none;
}

nav a:link{
    color:(--nav-link-color);
}

nav ahover{
    color: var(--nav-hover-link-color);
    background-color: (--nav-hover-background-color);
}

footer{
    margin-top: 1rem;
    border-top: 1px solid #958f6c;
    text-align: center;
}